/* Form Field checkbox  */
form > div[type="checkbox"] > opt{float:left;cursor:pointer;padding:20px;}
form > div[type="checkbox"] > opt > * {cursor:unset;float:left;}


form > div[type="checkbox"] > opt icon{font-size:120%;margin-right:10px;}

form > div[type="checkbox"] > opt[checked="0"] icon:before {content: "\ea53";}
form > div[type="checkbox"] > opt[checked="1"] icon:before {content: "\ea52";}