div[type="password"][pass="1"] input{-webkit-text-security: disc;}

div[type="password"][pass="1"] icon:before {
  content: "\e9ce";
}

div[type="password"][pass="0"] icon:before {
  content: "\e9d1";
}

div[type="password"] icon{
  position: absolute;
    right: 18px;
    bottom: 18px;
    font-size: 120%;
    cursor:pointer;
}