menu {
  width: 100%;
  float: right;
  
}
section > view > menu{
  margin: 20px 0;
}

/* form menu button {
  
  margin-right: 10px;
  margin-top: 10px;
  background-color: transparent;
  color: #fff;
  border-radius:20px;

}
 */
menu button {

  margin-left: 10px;
  float: right;
  margin-bottom: 10px;
  color: #fff;

  border: 0;
  overflow:auto;
  text-transform: capitalize;
  border-radius:3px;
  line-height:1;
  
}

menu button > label {

  padding: 10px 10px 10px 0;
  float: left;
    cursor: pointer;
}

body[areas="100"] menu > button {

  background-color: var(--color2);
  
}

body[areas="50"] menu > button {

  background-color: var(--color1);
  
}

menu > button > icon {
    cursor: pointer;
  float: left;
  margin-right: 10px;
  padding: 10px;
  background-color: #00000030;
  box-shadow: -1px 0px 4px 0px #000;
}

form menu {
  background-color: #f6f6f6;
  margin-top: 10px;
}

form button[action="save"] {
  float: right;
}

form button[action="delete"] {
  float: right;
}

form button[action="edit"] {}

form button[action="close"] {}

form button[action="seeattach"] {
  float: left;
}

form button[action="attach"] {
  float: left;
}

order {
  margin-top: 50px;
  float: left;
  padding-top: 20px;
  display: none;
}

order>button {
  cursor: pointer;
  margin-left: 10px;
  background-color: transparent;
}

order>button[selected="1"] {
  font-weight: bold;
}