

header_progressbar{display:none;}
[loading="1"] header_progressbar{display:block;}


._it4vx {
	height: 3px;
	background: #27c4f5 -webkit-gradient(linear, left top, right top, from(#27c4f5), color-stop(#a307ba), color-stop(#fd8d32), color-stop(#70c050), to(#27c4f5));
	background: #27c4f5 -webkit-linear-gradient(left, #27c4f5, #a307ba, #fd8d32, #70c050, #27c4f5);
	background: #27c4f5 linear-gradient(to right, #27c4f5, #a307ba, #fd8d32, #70c050, #27c4f5);
	background-size: 500%;
	-webkit-animation: 2s linear infinite LoadingBarProgress, .5s ease-out LoadingBarEnter;
	animation: 2s linear infinite LoadingBarProgress, .5s ease-out LoadingBarEnter;
	-webkit-transform-origin: left;
	transform-origin: left;
	width: 100%
}
._72fik {
	left: 0;
	position: fixed;
	right: 0;
	top: 60px;
	z-index: 999;
}