 [theme="small"] item > header > footer > data {display:block;}
 [theme="small"] item > header > icon.icon-share2 {display:none;}

 [theme="small"] item {padding-bottom: 0;min-height: 100px;}
 [theme="small"] item detalhes {overflow:auto hidden;white-space: nowrap;margin:10px 10px 0 10px;width:calc(100% - 20px);}

 [theme="small"] item > p {overflow:hidden;margin: 10px;width:calc(100% - 20px);height:45px;}
 [theme="small"] item > p::-webkit-scrollbar {display: none;}

 [theme="small"] item detalhes > figure > label{display:none;}

 [theme="small"] item detalhes figure{margin:0 10px 0 0;}
 [theme="small"] item[view="0"] detalhes figure{width: 32px;height: 32px;}
 [theme="small"] item[view="1"] detalhes figure{width: 270px;height: 270px;}

 [theme="small"] item > options {z-index:20;float:right;width:100px;display:none;position: absolute;right: 0px;top: 40px;}
 [theme="small"] item:hover > options {display:block;}

 [theme="small"] item > header > category {padding:10px;line-height:1.5;}

 [theme="small"] item > footer > data {font-weight: bold;float:left;width: 100%;}
 [theme="small"] item > footer > data > updated{margin:10px 0 10px 10px;float:left;padding: 4px 8px;border-radius: 2px;}
 [theme="small"] item > footer > data > created{margin:10px 0 10px 10px;float:left;padding: 4px 8px;border-radius: 2px;}

 [theme="small"] item[view="0"] > footer > data {display:block;}


 [theme="small"] item[view="0"] > share {display:none;}

 [theme="small"] item medicos {float:left;margin: 10px 0 0 10px;border-radius: 2px;padding: 4px 8px;}
 [theme="small"] item[view="0"] medicos {display:none;}


[theme="small"] item[view="0"] > pacientes {display:none;}
[theme="small"] item > pacientes {width:400px;float:left;cursor:pointer;}


[theme="small"] item > header pacientes id{width: 50px;float: right;text-align: right;}

[theme="small"] item > pacientes > div > * {display:none;float:left;margin: 10px 0 0 10px;border-radius: 2px;padding: 4px 8px;}

[theme="small"] item > pacientes[open="1"] > div > email      {display:block;}
[theme="small"] item > pacientes[open="1"] > div > endereco   {display:block;}
[theme="small"] item > pacientes[open="1"] > div > nascimento {display:block;}
[theme="small"] item > pacientes[open="1"] > div > telefone   {display:block;}
[theme="small"] item > pacientes[open="1"] > div > cpf        {display:block;}
[theme="small"] item > pacientes[open="1"] > div > identidade {display:block;}

[theme="small"] item > pacientes > div .icon-profile {float: left;margin-right: 5px;line-height: 1.2;}


[theme="small"] item > pacientes > div > .icon-whatsapp {cursor:pointer;font-size:118%;background-color:#68b868;color:#fff;}
[theme="small"] item > pacientes > div > .icon-whatsapp:hover{box-shadow: 0 1px 5px #888;}

[theme="small"] item[view="1"] p {white-space: pre-wrap;height:auto;}


[theme="small"] item > pacientes > div > label{display:block;}
[theme="small"] item > pacientes > div > icon[class='icon-profile']{display:block;}